<div class="panel panel-info">
  <div class="panel-heading"><span class="glyphicon glyphicon-user"></span> User details</div>
  <div class="panel-body">

    <div class="row">
      <div class="col-xs-2">
        <img {{bind-attr src=picture}} class="img-circle" width="100px" heigth="100px" />
      </div>
      <div class="col-xs-10">
        {{partial 'commonUserDetails'}}
      </div>
    </div>

  </div>
</div>