<div class="panel panel-info">
  <div class="panel-heading"><span class="glyphicon glyphicon-user"></span> Client details</div>
  <div class="panel-body">

    <div class="row">
      <div class="col-xs-6">
        {{partial 'commonDetails'}}
      </div>
      <div class="col-xs-6">
        <p>
          {{line-chart data=data}}
        </p>
      </div>
    </div>

  </div>
</div>