<ul class="nav nav-pills">
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'customers'}}Customers{{/link-to}}</li>
  <li>{{#link-to 'clients'}}Clients{{/link-to}}</li>
  <li>{{#link-to 'users'}}Users{{/link-to}}</li>
</ul>
{{outlet}}
