<form class="form-horizontal" role="form">
  <div class="form-group">
    <div class="col-xs-3"></div>
    <div class="col-xs-4">
      <p class="form-control-static"><h3>{{fullName}}</h3></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-3 control-label">Email</label>
    <div class="col-xs-4">
      <p class="form-control-static">{{email}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-3 control-label">Phone</label>
    <div class="col-xs-4">
      <p class="form-control-static">{{phone}}</p>
    </div>
  </div>
</form>