<div class="row">
  <div class="col-xs-6 col-md-4">&nbsp;</div>
  <div class="col-xs-6 col-md-4">
    <center><img src="/images/ajax-loader.gif" alt="Loading"></center>
  </div>
  <div class="col-xs-6 col-md-4">&nbsp;</div>
</div>