<p></p>
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          {{#each user in model}}
            <li>{{#link-to 'users.details' user}}{{emailToFullname user.email}}{{/link-to}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-9">
    {{outlet}}
  </div>
</div>